:root {
  --ifm-color-primary: #00d1d1;
  --ifm-color-primary-dark: #00a7a7;
  --ifm-color-primary-darker: #007d7d;
  --ifm-color-primary-darkest: #006869;
  --ifm-color-primary-light: #00f0f0;
  --ifm-color-primary-lighter: #06ffff;
  --ifm-color-primary-lightest: #1bffff;
  --ifm-code-font-size: 95%;
}

[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}
@media (min-width: 1440px) {
  .container {
      max-width:100%;
  }
}
